.layout {
  height: 16rem;
  max-inline-size: none;
}

.fill-current {
  fill: var(--KeyboardKey-symbol__color);
  cursor: default;
  user-select: none;
}

.switch-sector-button {
  fill: var(--KeyboardKey-button__color);
  stroke: var(--KeyboardKey-symbol__color);
}

.highlight {
  fill: var(--KeyboardKey-pointer__color);
}
