.layout {
  bottom: 0px;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  padding: 16px;
  position: fixed;
  z-index: 10;
  background-color: var(--Keyboard-frame__color);
  border-radius: 10px;
}

.fill-current {
  fill: var(--KeyboardKey-symbol__color);
  cursor: default;
  font-family: var(--default-font-family);
  user-select: none;
}

.stroke-white {
  fill: var(--KeyboardKey-button__color);
  stroke: var(--KeyboardKey-symbol__color);
}

.material-icons {
  visibility: hidden;
}

.fill-alnitak-500 {
  fill: var(--KeyboardKey-pointer__color);
}
